<% if logged_in? %>
<h1>ログイン完了</h1>
<% else %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 >言葉の世界へようこそ</h1>
    <h5 class="mt-3">自分の趣味を投稿し、多くの人とつながりコミュニケーションを取ろう</h5>
    <p><%= link_to "Talk Timeに登録", signup_path, class:"btn btn-info mt-5" %></p>
  </div>
</div>


  



    
<% end %>
  