// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show1{
    background-color:#006699;
    color:white;
    height:150px;
}