

<footer id="sticky-footer" class="bg-dark py-1">
    <div class="container">
        <div class="text-center">
            <a class="ml-1 text-white" href="#">お問い合わせ</a>
            <a class="ml-1 text-white-50" href="#">使い方について</a>
            <a class="ml-1 text-white-50" href="#">利用規約</a>
        </div>
    </div>
    <div class="footer-copyright text-center text-white-50 py-3">
         © 2020 Copyright:JW
    </div>
</footer>
